version: '3.8'

services:
  backend:
    build: .
    ports:
      - "8080:8080"
    # We mount the .env file directly into the container
    volumes:
      - ./.env:/app/.env
    depends_on:
      - mongo
    networks:
      - app-network
    restart: on-failure

  mongo:
    image: mongo:6.0
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge

volumes:
  mongodb_data: