apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: muchtodo-ns
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: muchtodo-backend:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
        # This section mounts the .env file into the container
        volumeMounts:
        - name: env-volume
          mountPath: /app/.env
          subPath: .env
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        # Health checks
        livenessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 15
          periodSeconds: 5
      volumes:
      - name: env-volume
        configMap:
          name: backend-env-file